
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  background-image:url('img/blue_striped.gif');
  height:100%;
  margin:0px;
}

.header  {
width:600px;
margin:0px auto;

}
.soln{
width:150px;
margin:0px auto;
margin-top:10px;
}
.toolbar {
width:600px;
margin:0px auto;
margin-bottom:10px;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.column {

  background-repeat:no-repeat;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 2px solid #666;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  cursor: move;
 
  float: left;
  margin-right: 3px;
  margin:1px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -ms-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
 
  background-image:url('img/solution.jpg');
}

.medium{
height:80px;
width:80px;
}
.basecol{
hidden:true;
}
.column.over {
  border: 2px dashed #000;
}

.column.moving {
  opacity: 0.25;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.board {
width:600px;
margin:0px auto;
height:100%;
padding-left:20px;
background-color:rgba(0, 0, 0, 0.4);
bottom:0;
top:0;
padding-top:20px;
padding-bottom:10px;
}

.board h1,p {
color:#ffffff;
}

.solution{
margin-left:180px;
}

.footer{
bottom:0;
margin-left:150px;
color:#ffffff;
}

.footer a {
color:#FFFFFF;
}

.btn {
margin-top:10px;
}
 
